<ion-view view-title="Welcome">
  <ion-content>
  <div class="list">
  <a class="item item-thumbnail-left" href="#/app/powerusage">
  <img src="img/powerconsumption.png">
  <h2>Power Usage Calculation</h2>
  <p>Information regarding the page</p>
  </a>
    <a class="item item-thumbnail-left" href="#/app/accalculation">
  <img src="img/ac.png">
  <h2>AC Calculation</h2>
  <p>Information regarding the page</p>
  </a>
    <a class="item item-thumbnail-left" href="#/app/light">
  <img src="img/light.png">
  <h2>Light Calculation</h2>
  <p>Information regarding the page</p>
  </a>
    <a class="item item-thumbnail-left" href="#/app/newspred">
  <img src="img/ventilation.png">
  <h2>Ventilation Requirement</h2>
  <p>Information regarding the page</p>
  </a>
    <a class="item item-thumbnail-left" href="#/app/heatingorcooling">
  <img src="img/heatcool.png">
  <h2>Heating and Cooling Load</h2>
  <p>Information regarding the page</p>
  </a>
    <a class="item item-thumbnail-left" href="#/app/solargain">
  <img src="img/solar.png">
  <h2>Solar Gain Calculation</h2>
  <p>Information regarding the page</p>
  </a>
    <a class="item item-thumbnail-left" href="#/app/lightingsystem">
  <img src="img/lightrequirement.jpg">
  <h2>Lighting System Calculation</h2>
  <p>Information regarding the page</p>
  </a>
  </div>
  </ion-content>
</ion-view>