<ion-view view-title="Power Consumption">
  <ion-content>
  <form ng-submit="calculate()"> 	
    <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Tube Light</span>
    <input type="text" placeholder="Enter Quantity" ng-value="zero" ng-model="appliances.tubelight">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Spot Light</span>
    <input type="text" placeholder="Enter Quantity" ng-value="zero" ng-model="appliances.spotlight">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Halogen</span>
    <input type="text" placeholder="Enter Quantity" ng-value="zero" ng-model="appliances.halogen">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">CFL Tubes</span>
    <input type="text" placeholder="Enter Quantity" ng-value="zero" ng-model="appliances.cfltubes">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Incadescent Lamps</span>
    <input type="text" placeholder="Enter Quantity" ng-value="zero" ng-model="appliances.incadescentlamps">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Tubes</span>
    <input type="text" placeholder="Enter Quantity" ng-value="zero" ng-model="appliances.tubes">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Fans</span>
    <input type="text" placeholder="Enter Quantity" ng-value="zero" ng-model="appliances.fans">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">LCD Projector</span>
    <input type="text" placeholder="Enter Quantity" ng-value="zero" ng-model="appliances.lcdprojector">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Computer</span>
    <input type="text" placeholder="Enter Quantity" ng-value="zero" ng-model="appliances.computer">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Chair Light 3 Amps</span>
    <input type="text" placeholder="Enter Quantity" ng-value="zero" ng-model="appliances.chairlight">
  </label>
	</div>
  </form>
            <button class="button button-block button-positive" type="submit" ng-click="calculate()">Check your Consumption</button>
  </ion-content>
</ion-view>